{% extends 'layout_picnic.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="container">
  <div class="flex four demo">
    <!-- Empty container -->
    <div class="half fourth-1000"></div>
    <!-- Main container -->
    <div class="full half-1000">
      <article class="card" style="text-align: center;">
        <header>
          <h2 align="center" style="color: #0066ff;">Want to create an odontogram?</h2>
        </header>
        <div>
          <br>
          <a href="{% url 'records:new_odontogram' %}"><button class="success">Create</button></a>
          <a href="{% url 'index' %}"><button class="error">Return</button></a>
          <br>
        </div>
        <footer>
          From here, the content will be in Spanish since
          this was build for someone hispanophonic
        </footer>
      </article>
    </div>
    <!-- Empty container -->
    <div class="half fourth-1000"></div>
  </div>
</div>
{% endblock %}
