{% extends 'layout_picnic.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="container">
  <div class="flex four demo">
    <!-- Empty container -->
    <div class="half fourth-1000"></div>
    <!-- Main container -->
    <div class="full half-1000">
      <article class="card" style="text-align: center;">
        <header>
          <h2 align="center" style="color: #0066ff;">Códigos</h2><br>se recomienda vista panorámica
        </header>
        <form method="POST">
          {% csrf_token %}
          <div>
            <br><br>
            <div class="line1_p1">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_18' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">18</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_18" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_18 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_18" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p2">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_17' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">17</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_17" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_17 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_17" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p3">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_16' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">16</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_16" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_16 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_16" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p4">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_15' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">15</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_15" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_15 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_15" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p5">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_14' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">14</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_14" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_14 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_14" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p6">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_13' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">13</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_13" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_13 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_13" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p7">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_12' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">12</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_12" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_12 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_12" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p8">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_11' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">11</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_11" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_11 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_11" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p9">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_21' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">21</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_21" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_21 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_21" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p10">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_22' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">22</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_22" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_22 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_22" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p11">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_23' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">23</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_23" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_23 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_23" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p12">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_24' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">24</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_24" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_24 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_24" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p13">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_25' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">25</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_25" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_25 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_25" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p14">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_26' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">26</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_26" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_26 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_26" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p15">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_27' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">27</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_27" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_27 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_27" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line1_p16">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_28' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">28</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_28" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_28 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_28" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <br><br>
            <div class="line2_p4">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_55' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">55</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_55" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_55 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_55" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line2_p5">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_54' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">54</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_54" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_54 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_54" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line2_p6">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_53' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">53</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_53" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_53 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_53" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line2_p7">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_52' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">52</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_52" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_52 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_52" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line2_p8">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_51' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">51</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_51" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_51 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_51" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line2_p9">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_61' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">61</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_61" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_61 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_61" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line2_p10">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_62' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">62</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_62" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_62 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_62" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line2_p11">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_63' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">63</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_63" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_63 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_63" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line2_p12">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_64' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">64</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_64" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_64 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_64" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line2_p13">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_65' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">65</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_65" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_65 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_65" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
              <br><br><br>
            <div class="line3_p4">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_85' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">85</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_85" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_85 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_85" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line3_p5">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_84' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">84</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_84" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_84 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_84" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line3_p6">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_83' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">83</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_83" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_83 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_83" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line3_p7">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_82' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">82</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_82" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_82 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_82" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line3_p8">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_81' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">81</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_81" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_81 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_81" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line3_p9">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_71' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">71</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_71" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_71 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_71" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line3_p10">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_72' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">72</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_72" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_72 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_72" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line3_p11">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_73' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">73</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_73" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_73 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_73" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line3_p12">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_74' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">74</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_74" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_74 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_74" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line3_p13">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_75' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">75</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_75" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_75 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_75" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <br><br>
            <div class="line4_p1">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_48' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">48</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_48" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_48 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_48" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p2">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_47' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">47</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_47" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_47 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_47" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p3">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_46' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">46</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_46" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_46 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_46" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p4">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_45' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">45</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_45" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_45 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_45" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p5">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_44' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">44</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_44" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_44 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_44" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p6">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_43' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">43</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_43" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_43 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_43" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p7">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_42' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">42</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_42" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_42 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_42" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p8">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_41' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">41</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_41" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_41 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_41" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p9">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_31' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">31</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_31" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_31 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_31" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p10">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_32' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">32</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_32" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_32 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_32" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p11">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_33' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">33</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_33" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_33 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_33" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p12">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_34' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">34</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_34" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_34 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_34" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p13">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_35' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">35</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_35" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_35 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_35" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p14">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_36' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">36</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_36" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_36 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_36" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p15">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_37' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">37</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_37" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_37 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_37" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <div class="line4_p16">
              <a href="{% url 'records:tooth' pk_mouth=odontogram.id nb_tooth='t_38' %}">
                <input type="hidden" value="submit">
                <span class="text_l1">38</span>
                <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_38" width="20" height="20">
                {% for t in treatments %}
                  {% if t in odontogram.t_38 %}
                    <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_38" width="20" height="20">
                  {% endif %}
                {% endfor %}
              </a>
            </div>
            <br><br>
          </div>
        </form>
        <footer>
          <a href="{% url 'records:update_odontogram' pk_mouth=odontogram.id %}">
            <button class="warning">Vista con imágenes</button>
          </a>
        </footer>
      </article>
    </div>
    <!-- Empty container -->
    <div class="half fourth-1000"></div>
  </div>
</div>
{% endblock %}
