{% extends 'layout_picnic.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="container">
  <div class="flex four demo">
    <!-- Empty container -->
    <div class="half fourth-1000"></div>
    <!-- Main container -->
    <div class="full half-1000">
      <article class="card" style="text-align: center;">
        <header>
          <h2 align="center" style="color: #0066ff;">Mouth</h2>
        </header>
        <form method="post">
          {% csrf_token %}
          {{ mouth_form.as_table }}
          <label>
            <input type="checkbox">
            <span class="checkable">Check me out (;</span>
          </label>
        </form>
        <footer>
          <a class="button warning" href="#">Record</a>
        </footer>
      </article>
    </div>
    <!-- Empty container -->
    <div class="half fourth-1000"></div>
  </div>
</div>
{% endblock %}
