{% extends 'layout_picnic.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="container">
  <div class="flex four demo">
    <!-- Empty container -->
    <div class="half fourth-1000"></div>
    <!-- Main container -->
    <div class="full half-1000">
      <article class="card" style="text-align: center;">
        <header>
          <h2 align="center" style="color: #0066ff;">Odontograma</h2>
        </header>
        <div style="background-color: #FF6666;" >
          <br>
          <a><img src="{% static 'img/18.png' %}" alt="t_18" width="19" height="55"></a>
          <a><img src="{% static 'img/17.png' %}" alt="t_17" width="19" height="55"></a>
          <a><img src="{% static 'img/16.png' %}" alt="t_16" width="19" height="55"></a>
          <a><img src="{% static 'img/15_a.png' %}" alt="t_15" width="19" height="55"></a>
          <a><img src="{% static 'img/14_a.png' %}" alt="t_14" width="19" height="55"></a>
          <a><img src="{% static 'img/13_a.png' %}" alt="t_13" width="19" height="55"></a>
          <a><img src="{% static 'img/12_a.png' %}" alt="t_12" width="19" height="55"></a>
          <a><img src="{% static 'img/11_a.png' %}" alt="t_11" width="19" height="55"></a>
          &nbsp; &nbsp; &nbsp;
          <a><img src="{% static 'img/21.png' %}" alt="t_21" width="19" height="55"></a>
          <a><img src="{% static 'img/22.png' %}" alt="t_22" width="19" height="55"></a>
          <a><img src="{% static 'img/23.png' %}" alt="t_23" width="19" height="55"></a>
          <a><img src="{% static 'img/24.png' %}" alt="t_24" width="19" height="55"></a>
          <a><img src="{% static 'img/25.png' %}" alt="t_25" width="19" height="55"></a>
          <a><img src="{% static 'img/26.png' %}" alt="t_26" width="19" height="55"></a>
          <a><img src="{% static 'img/27.png' %}" alt="t_27" width="19" height="55"></a>
          <a><img src="{% static 'img/28.png' %}" alt="t_28" width="19" height="55"></a>
        </div>
        <footer>
          <a href="{% url 'records:tooth' %}">
            <button class="success">Diente</button>
          </a>
        </footer>
      </article>
    </div>
    <!-- Empty container -->
    <div class="half fourth-1000"></div>
  </div>
</div>
{% endblock %}
