{% extends 'layout_picnic.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="container">
  <div class="flex four demo">
    <!-- Empty container -->
    <div class="half fourth-1000"></div>
    <!-- Main container -->
    <div class="full half-1000">
      <article class="card" style="text-align: center;">
        <header>
          <h2 align="center" style="color: #0066ff;">Mouth</h2>
        </header>
        <form method="post">
          {% csrf_token %}

          {% for field in tooth_form.t_11 %}
          <label for="{{ field.id_for_label }}">
            <input type="checkbox" value="{{ field.choice_label }}" name="{{ field.data.name }}" id="{{ field.id_for_label }}">
            <span class="checkable">
              {{ field.choice_label }}
              <img src="{% static 'img/small-duck.svg' %}" alt="testo" width="30" height="30">
            </span>
          <label>
          {% endfor %}

        <footer>
          <a href="{% url 'index' %}">
            <button type="submit" class="warning">Record</button>
          </a>
        </footer>
        </form>
      </article>
    </div>
    <!-- Empty container -->
    <div class="half fourth-1000"></div>
  </div>
</div>
{% endblock %}
